*{
    box-sizing: border-box;
}
.container{
    min-height: 90vw;
    min-width: 70vh;
    background-color: teal;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.item{
    width: 100px;
    height: 100px;
    background-color: bisque;
    border: solid;

}